.pacienteTabela {
    background: #ffffff;
    cursor: pointer;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.rolagem {
    table-layout: auto;
}

.pacienteTabela td {
    padding: 15px;
    font-size: 16px;
}

.pacienteTabela th {
    background-color: #333;
    color: white;
    padding: 20px;
}

.pacienteTabela td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

.pacienteTitulo {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.pacienteConteiner {
    padding: 20px;
    max-width: 900px;
    margin: 0 auto;
    background-color: #ffffff;
    border-radius: 8px;
    overflow-x: auto;
}

.pacienteCentralizado {
    display: block;
    overflow-x: auto;
    justify-content: center;
}
