.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  background: var(--background);
  color: #000000;
}

.lista {
  flex-direction: column;
  align-items: center;
  transition: max-height 0.3s ease-in-out;
}

.subLista {
  display: none;
  list-style: none;
  flex-direction: column;
  align-items: center;
  transition: max-height 0.3s ease-in-out;
}

.list {
  display: flex;
  list-style: none;
  gap: 20px;
  padding: 0;
}

.litOpen {
  display: flex;
}

.list li {
  margin: 10px 0;
  margin: 0;
  font-size: 1.5rem;
  /* Tamanho maior */
}